@font-face {
font-family: "unity";
src: url("fonts/Adidas_Unity.ttf");
}




.class{

width :20px;
height :20px;
margin-left: 5px;
}

 h1{
	display: block;
margin-top: 100px;

	font-family: "unity";
	font-size: 60px;
	text-align: center;
}



.Heading{
	background-color:
	border: 20px
	color: white;
display: inline;

margin-left: 100px;
margin-right: 100px;


}

.login{
	float: right;
}
.login a{
background-color: black;
	display: block;
	color: white;
	margin-right: 30px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor: pointer;
}


.login a:hover{
	background-color: green;
}

}

.dumb{
	width: 15px;
	height:15px;
	margin-bottom: 500px;

}

body {
	background-color:d2b48c;
	height: 100%;


	width: 100%;
}


.first{
  font-family:"unity";
  font-weight:normal;

  font-size: 28px;
  color:black;
  text-align: center;
}

h2{
	color: white;
  font-size: 58px;
}

.catelog{
  background-color: #06446b;
  background-image:url;
}
.left{
  float left;
}


.left a{
  background-color: black;
  	display: block;
  	color: white;
  	margin-right: 350px;
    margin-left: 350px;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
.left a:hover{
	background-color: green;
}
.right{
  float right;
}
 .right a{
   background-color: black;
   	display: block;
   	color: white;
   	margin-right: 350px;
    margin-left: 350px;
   	text-align: center;
   	padding: 14px 16px;
   	text-decoration: none;
 }
 .right a:hover{
   background-color: green;
 }

.down a{
  background-color: black;
  	display: block;
  	color: white;
    margin-right: 350px;
    margin-left: 350px;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
.down a:hover{
	background-color: green;
}
li{
margin-right: 30px;

	border-right: 10px solid #bbb;
	float: left
}
li a {

	display: block;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	margin-right: 40px;
}
 li a:hover{
	 background-color: green;

}
ul{
	postion: fixed;
	top:0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: white;
}
.middle{
	background-color: gray;
}
.m{
	text-align: center;
}
.r{
	text-align: right;
}


/* End of navigation tabs */
/* f f5deb3*/
header{
  /* f f5deb3*/
	background-color:f5deb3;
	font-family: sans-serif;
	margin: 30px;
	font-size: 30px;
	text-align: center;
	padding: 25px;
}
.poo{
	float: left;
}
.pictures{
	align-items: center;
background-color:#f5deb3;
}

.pic{
align:center;

display: inline;
border-right: 100px;
	float:left;

}
.btn.btn-primary {
  border-radius: 100px;
  border: 10px;
  color: white;
  text-shadow: none;
  background-color: black;
  border-color: white;

}
.btn.btn-primary:hover{
  background-color:green;
}

section .row img{
  margin: 0 0 30px;
  width: 100%;
}
.col-md-6{
  margin: 0 0 30px;
}
.col-md-4{
  margin: 0 0 30px
}

footer {

  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  background-color:d2b48c;
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
